<html>
  <head>
    <title>Homepage</title>
    <!-- <link rel="stylesheet" href="/styles.css"> -->
  </head>
  <body>
    <%- include('form', {className: "messageForm"}) %>
    <ul>
     <% messages.forEach((message) => { %>
       <%- include('message', {message: message}); %>
     <% }); %>
   </ul>
  </body>
</html>
