<div class="message">
     <span class="user">
          <%= message.user %>
          <span>:</span>
     </span>
     <span class="text">
          <%= message.text %>
     </span> <br>
     <span>Posted on:</span>
     <span class="date">
          <%= message.added.toLocaleString() %>
     </span>
</div>
